@import "tailwindcss";
@plugin 'tailwindcss-animate';
@custom-variant dark (&:is(.dark *));

/* Light Theme */
@theme {
  --color-background: #f5f7fa;
  --color-foreground: #1a1a1a;
  --color-primary: #593edd;
  /* --color-primary: #593EDD; */
  --color-secondary: #b2a2ff;
  --color-success: #28af89;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-warning2: #cf7106;
  --color-danger: #dc3545;
  --color-warningSoft: #f06812;
  --color-background-secondary: #4a5565;
}

/* Dark Theme */
@theme dark {
  --color-background: #1a1a1a;
  --color-foreground: #f5f7fa;
  --color-primary: #593edd;
  --color-secondary: #b2a2ff;
  --color-success: #22c55e;
  --color-info: #90e0ef;
  --color-warning: #ffc107;
  --color-danger: #d7191c;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1440px) {
    max-width: 1440px;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/***************** all button will be pointer default  **********************/

button {
  cursor: pointer;
}

/********************* Global Scroll customize scroll  **********************/

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background: var(--color-foreground);
  border-radius: 10px;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
  border: 3px solid #fff;
}

/* Add hover effect for thumb */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

/********************* Google Translate  ************************************/

/* Remove the banner at top of the page */
body {
  top: 0 !important;
  position: static !important;
}

body .skiptranslate {
  display: none !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd.skiptranslate {
  visibility: hidden !important;
  height: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

/********************* Ant Design Customization  ****************************/

/*  Custom upload styles and hover */
.ant-upload-wrapper :hover.ant-upload-drag {
  border-color: var(--color-primary) !important;
}

/* Custom pagination styles */
.custom-pagination .ant-pagination-item-active {
  border-color: var(--color-primary) !important;
}
.custom-pagination .ant-pagination-item-active a {
  color: var(--color-primary) !important;
}

.custom-pagination .ant-pagination-item:hover {
  background-color: var(--color-primary) !important;
}

.custom-pagination .ant-pagination-item:hover a {
  color: white !important;
}

.custom-spinner .ant-spin-dot {
  color: var(--color-primary) !important;
}

@layer base {
  :root {
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: var(--color-primary);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* Custom reusable class */
.btn-gradient {
  @apply bg-gradient-to-r from-[#C9634A] to-[#5E24AF] text-white px-4 py-2 rounded-lg;
}
.custom-gradient {
  @apply from-[#C9634A] to-[#5E24AF];
}
